# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# 自定义
*.pdf
*.class
.idea
.lift
*.iml
Algorithms_4th/Booksite/Lib/*
*.csv
*.bin
*.png
.vscode
剑指Offer
LeetCode
算法导论
Algorithms_4th/Code/alg*
# 大文件
shakespeare.txt
*Result.txt
# 练习
ex*/
# Assagement
Algorithms_4th/Course1/week03/collinear/*.txt
Algorithms_4th/Course1/week03/collinear/*.png